@charset "UTF-8";
/* CSS Document */

body.container {
	height: 100%;
	width: 100%;
	position: relative;
}
#change-state li { list-style-type: none }
#map-content { background: blue; }
asteroid {
	position: absolute;
	padding: 10px;
	background: url('../images/button-sprite.png') no-repeat -10px -2px;
}
.asteroid-click:hover {
	background-position: -10px -22px;
}


