@charset "UTF-8";
/* CSS Document */

#main-map {
	width:100%;
	height: 100%;
	outline: black solid thin;
	position: relative;
}
body.container {
	height: 100%;
	width: 100%;
}
#change-state li { list-style-type: none }

asteroid {
	padding: 20px;
	background: url('../images/button-sprite.png') no-repeat 0px -2px;
}
.asteroid-click:hover {
	background-position: 0px -22px;
}


