@charset "UTF-8";
/* CSS Document */

body {
	background-color: #253251;
}

header {
	text-align: center;
	width: 100%;
}

header h1 {
	font-family: 'bebas_neuethin';
	color: #bdbdbd;
	text-shadow: 4px 4px 0 #16213a;
	font-size: 9.375em;
	line-height: 0.9em;
	margin: 0.1em 0;
	margin-top: 0.3em;
}

header h2 {
	font-family: 'bebas_neue_regularregular';
	color: #bdbdbd;
	text-shadow: 4px 4px 0 #16213a;
	font-size: 4.5em;
	margin: 0.1em 0;
}

.container  {
	
}

/** Simple clearfix **/
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/** Astra **/
.solar-system {
	margin-top: 4em;
}

.sun {
	background-image: url('../images/sun.png');
	width: 161px;
	height: 158px;
	z-index: 10;
	-webkit-transform: translate(0,0);
}

.centered {
	margin: 0 auto;
}

.earth {
	background-image: url('../images/earth.png');
	width: 54px;
	height: 54px;
	transform-style: preserve-3d;
}

